# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# Firebase Admin (Service Account)
FIREBASE_SERVICE_ACCOUNT_KEY=

# Server
PORT=5000
NODE_ENV=development
JWT_SECRET=your-super-secret-key-change-this

# Firebase Admin App
ADMIN_EMAIL=admin@bvesports.com
